body {
    background-image: url("../image/test2.gif");
    background-repeat: round;
    width: 100%;
    font-family: 'Segoe UI';
}
 
h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: rgb(25, 43, 43);
}


img {
    margin: 10px;
}
span{
    border-bottom:solid blueviolet;
    margin: 10px;
    padding: 10px;
    height: 2px;
    width: 10px;
    background-color: white;
    text-decoration: rgb(97, 96, 121);
     

}


.menu {
    padding: 10px;
    position: relative;
    margin: 10px;
    font-family: 'Segoe UI';
    font-size: 25px;
}



.background {
    background-image: url("../images/backsplash.jpg");
    border: solid 5px red;
}

.container {
    background-color:burlywood;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    text-align: center;
    
    
    
}

#currentword {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: 10px;
    color:black;
}

#scoreboard {
    padding: 20px;
}

h3{
    color: #399479;
    font-family: 'Luckiest Guy', cursive;
    
}




